[Desktop Entry]
Version=1.0
Type=Application
Name=ReGet Deluxe
Icon=/opt/dist/tools/reget/reget_deluxe.png
Exec=/home/hz/bin/reget.sh
NoDisplay=false
Categories=Utility;
StartupNotify=false
Terminal=false
